.fi-tenant-menu-trigger {
    @apply px-4 rounded-full;
}

.fi-sidebar-open .fi-sidebar-item .fi-sidebar-item-btn {
    @apply px-4 rounded-full;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-btn {
    @apply transition-all duration-300 rounded-full shadow-sm bg-primary-600 dark:bg-primary-500;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-grouped-border-part {
    @apply transition-all duration-300 bg-gray-50 dark:bg-gray-800;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-btn .fi-sidebar-item-label,
.fi-sidebar-item.fi-active .fi-sidebar-item-btn .fi-sidebar-item-icon {
    @apply text-primary-50;
}

.fi-sidebar-item>.fi-sidebar-item-btn {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700 hover:transition-all hover:duration-300 hover:rounded-full;
}

.fi-sidebar-item:hover .fi-sidebar-item-btn .fi-sidebar-item-label,
.fi-sidebar-item:hover .fi-sidebar-item-btn .fi-sidebar-item-icon {
    @apply text-gray-800 transition-all duration-300 dark:text-gray-200;
}


.fi-sidebar-item:hover.fi-active .fi-sidebar-item-btn {
    @apply bg-primary-500 dark:bg-primary-600;
}

.fi-sidebar-item:hover.fi-active .fi-sidebar-item-grouped-border-part {
    @apply transition-all duration-300 bg-gray-50 dark:bg-gray-800;
}

.fi-sidebar-item:hover.fi-active .fi-sidebar-item-btn .fi-sidebar-item-label,
.fi-sidebar-item:hover.fi-active .fi-sidebar-item-btn .fi-sidebar-item-icon {
    @apply transition duration-200 text-gray-50;
}

.fi-sidebar-item .fi-sidebar-item-badge-ctn .fi-badge {
    @apply text-white rounded-full bg-primary-600 dark:bg-primary-500;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-badge-ctn .fi-badge {
    @apply bg-primary-50 text-primary-900;
}


.fi-sidebar{
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0.1875rem 0.75rem 0 rgba(19, 17, 32, 0.2);

}

@media (max-width: 1020px) {
    .fi-sidebar{
        margin: 0;
        border-radius: 0;
    }
}
.fi-main-ctn{
    border: none !important;
}
.fi-sidebar:where(.dark, .dark *){
    background-color:var(--dark-card-bg-color)
}

.fi-sidebar {
    @media (width >= 64rem) {
        height: calc(100vh - 6.5rem);
    }
}



